<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <% if(auth) { %>
        <ul class="navbar-nav">
            <li class="nav-item <%if (path == "/home") { %> active <% } %> ">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%if (path == "/posts") { %> active <% } %> " href="/posts">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%if (path == "/users") { %> active <% } %> " href="/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%if (path == "/medias") { %> active <% } %> " href="/medias">Medias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%if (path == "/categories") { %> active <% } %> " href="/categories">Categories</a>
            </li>
        </ul>
    <% } %>  

    <ul class="nav navbar-nav ml-auto">
        <% if(auth) { %>
            <li class="nav-item">
                <a class="nav-link <%if (path == "/profile") { %> active <% } %> " href="/profile"><i class="fa fa-user">&nbsp;</i>Profile</a>
            </li>  
            <li class="nav-item">
                <a class="nav-link <%if (path == "/logout") { %> active <% } %> " href="/logout"><i class="fa fa-sign-out">&nbsp;</i> Logout</a>
            </li>
        <% }else{ %>
            <li class="nav-item <%if (path == "/register") { %> active <% } %> ">
                <a class="nav-link" href="/register"><i class="fa fa-user">&nbsp;</i> Register</a>
            </li>
            <li class="nav-item <%if (path == "/login") { %> active <% } %> ">
                <a class="nav-link" href="/login"><i class="fa fa-sign-in">&nbsp;</i> Login</a>
            </li>
        <% } %> 
    </ul>


</nav>